{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    we have variety of dresses are available.
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">you have searched for:<b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for p in products %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{ p.get_url }}"><img class="card-img-top" src="{{p.image.url}}" alt="{{p.name}}" height="450px" width="250px"></a><br>

                <div class="card-body">
                     <h4>{{p.name}}</h4>
                     <p>{{p.price}}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text">no results found</p>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}